# Heroshiko Server Configuration
HEROSHIKO_HOST=0.0.0.0
HEROSHIKO_PORT=8000

# Ngrok Configuration (получите бесплатный токен на https://dashboard.ngrok.com/get-started/your-authtoken)
NGROK_AUTHTOKEN=

